# Configration
/config.yaml

# Idea files
/.idea/
/.vscode/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Air configration and tmp files
/.air.toml
/tmp/
